#number-alumni-nd {
    font-size: 60px;
}

#average-salary-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.container-fluid {
  color: #fff;
  font-size: 20px;
}
